<head>
  <title>meteorjs</title>
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">Logo</a>
      <ul class="left hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li class="active"><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>

<div class="container">
  <h1 style="color:red;background-color:black;">Welcome to develper of Meteor!</h1>
  <ul class="list-group">
         {{#each notes}}
             {{> note}}
         {{ /each }}
</ul>
 
</div>


</body>
<template name="note">
<div class="alert alert-info" role="alert">
  <a href="#" class="alert-link">{{text}}</a>.
</div>

</template>


